body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #c5db6f;
    color: rgb(136, 213, 108);
    padding: 10px 0;
}

.navbar {
    text-align: center; 
}

.navbar a {
    display: inline-block; 
    color: rgb(196, 99, 131);
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #739ce3; 
}

.container {
    display: flex;
}

.sidebar {
    width: 200px; 
    background-color: #d573ca;
    padding: 20px;
    position: sticky; 
    top: 0; 
}

.content {
    flex: 1; 
    padding: 20px;
}
