body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    padding: 10px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: space-around; 
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: rgb(135, 155, 213);
    text-decoration: none;
    padding: 10px 15px;
}

.nav-links a:hover {
    background-color: #ad2f90;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.card {
    background-color: #b0d860;
    border: 1px solid #63cbd9;
    border-radius: 5px;
    padding: 20px;
    width: 200px; 
    text-align: center;
}
