body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    overflow: hidden; 
}

.left-column {
    float: center;
    width: 100%; 
    padding: 10px;
}

.right-column {
    float: right;
    width: 30%; 
    padding: 10px;
}

.floated-image {
    float: center;
    margin-right: 15px; 
    width: 400px; 
    height: 400px;
}


.container::after {
    content: "";
    display: table;
    clear: both;
}
